{% extends 'base.html.twig' %}

{% block title %}Hello VipController!{% endblock %}

{% block body %}
    <hgroup>
        <h1>Les codes promo</h1>
        <h3>Espace VIP</h3>
    </hgroup>
    <article>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis iure corrupti atque eveniet debitis, natus quos reiciendis iusto quam libero quis fugiat amet perspiciatis architecto, voluptates nostrum id labore! Quibusdam.<mark>50 %</mark></h2>
        <kbd>#123456</kbd>        
    </article>
<article>
	<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis iure corrupti atque eveniet debitis, natus quos reiciendis iusto quam libero quis fugiat amet perspiciatis architecto, voluptates nostrum id labore! Quibusdam.<mark>30 %</mark>
	</h2>
	<kbd>#123456</kbd>
</article>

{% endblock %}
